<h1>Add a New Meetup</h1>

<form class="new_meetup" action="/new" method="post">
  <label for="meetup-name">Meetup Name</label>
  <input type="text" id="meetup-name" name="name" placeholder="Meetup Name"></input><br>

  <label for="location">Location</label>
  <input type="text" id="location" name="location" placeholder="location"></input><br>

  <label for="description">Description</label>
  <input type="textarea" id="description" name="description" placeholder="description"></input><br>

  <input type="submit" id="submit"></input>
</form>
